.Task {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.Task p {
  margin-left: 30px;
  margin-right: 20%;
  margin-top: 10px;
  padding: 0;
}
.Task button {
  margin-top: 10px;

  width: 30px;
  height: 30px;
}
