.layout {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.Header {
  padding: 10px 0;
}
.Header a {
  margin: 10px;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.Header a:hover,
.Header a:active,
.Header a.active {
  color: rgb(211, 14, 14);
}
