.TodoForm {
  margin-bottom: 30px;
  display: flex;
}

.Field {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 70%;
  box-sizing: border-box;
}
.Field:focus {
  outline: none;
}

.TodoForm button {
  padding: 0 15px;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  color: white;
}

.TodoForm button:hover {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  color: black;
}
